h1 {
    color: blueviolet;
    text-align: center;
    text-shadow: 4px 4px 4px grey;
}

.title {
    color: rgba(17, 17, 156, 0.527); 
}

#italic {
    color: crimson;
}

nav {
    background-color: aquamarine;
    text-align: center;
}

.nav-wrapper {
    background-color: rgb(43, 228, 228);
}

a {
    text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

.container {
    border: 2px solid rgba(128, 128, 128, 0.61);
    margin: 10px 5px;
    padding: 10px;
}

.box {
    height: 200px;
    width: 200px;
    background: blue;
    margin: 10px;
}

@keyframes fadeMe {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

#box2 {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 10s;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange, yellow, pink, purple);
}

@keyframes getBigger {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(0.5);}
}

#box3 {
    animation: getBigger 6s 8 ease-in;
    border-radius: 50%;

}

@keyframes changeColors {
    0% {background-color: gray;}
    27% {background-color: blue;}
    75% {background-color: black;}
}

#box4 {
    animation: changeColors 7s forwards;
}

@keyframes moveBox {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}

#box5 {
    position: relative;
    animation: moveBox 5s 3;
    background: red;
}

#box6 {
    top: 10px;
    left: 20px;
    position: relative;
}

/*html {
    background-image: linear-gradient( to bottom, blue, purple, green);
}*/


.circleimage {
border-radius: 50%;
}

img {
    box-shadow: 5px 5px 10px rgba(135, 139, 150, 0.548);
}

.flex {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-around;
}

form input, textarea, button {
    display: block;
    margin: 30px;
}

.contact_box {
    display: flex;
    justify-content: center;

}

.row {
    margin: 30px;
}

.input-field {
    margin: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: white;
    color: #444;
}

.Box {
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

}

.a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.c {
    grid-column: col / span 5;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
}
.d {
    grid-column: col 1 / span  3 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
}

.e {
    grid-column: col 3 / span  3;
    grid-row: row 3;
    display: flex;
    justify-content: center;
}

.f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
}
